:root{
    --NegroCarbon: #252429;
    --VerdeSalvia: #5D726D;
    --AmarilloMostaza: #D7B877;
    --PielRosada: #D7BB95;
    --CafeTerracota: #A3836E;
    

    --white: #fff9ed;
    --black: #1c1302;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Inconsolata', monospace;  
    font-family: 'Open Sans', sans-serif;
    color: var(--NegroCarbon);
    background-color: var(--white);
}
header{
    background-color: var(--white);
    display: flex;
    height: 5vh;
    position: fixed;
    height: 10%;
    width: 90%;
    margin: 2% 5%;
    border-radius: 10px;
    box-shadow: 0px 0px 30px -10px var(--black);
    justify-content: space-between;
}



/* body {
    padding: 0;
    margin: 0;
    background-color: black;
    font-family: 'Inconsolata', monospace;
    font-family: 'Open Sans', sans-serif;
}

header {
    display: flex;
    top: 1rem;
    position: fixed;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    background-color: red;
    box-sizing: border-box;
}

nav a {
    text-decoration: none;
    font-size: 3vh;
    margin-left: 5vh;
}

#logo {
    width: 100px;
    margin-top: 4vh;
}

#bar{
    height: 6vh;
    width: 1px;
    position: absolute;
    margin-left: 90vw;
    background-color: black;
}

#search {
    margin-right: 5vw;
}

.search {
    width: 30px;
} */