:root{
    --SeafoamGreen: #4a9f8f;
    --Teal: #257d6e;
    --ForestGreen: #005a4c;

    --white: #faffff;
    --gray: #5b6664;
    --black: #021314;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Inconsolata', monospace;  
    font-family: 'Open Sans', sans-serif;
    color: var(--black);
    background-color: var(--white);
}
header{
    background-color: var(--white);
    display: flex;
    height: 5vh;
    position: fixed;
    height: 12%;
    width: 90%;
    margin: 2% 5%;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px -8px var(--gray);
    justify-content: space-between;
    place-items: center;
    box-sizing: border-box;
}
.BigotesLogo{
    height: 100%;
    border-radius: 50%;
}
.header-options{
    list-style: none;
    display: flex;
}
.header-option-button{
    background-color: var(--white);
    border: none;
    box-shadow: 0px 0px 10px -5px var(--ForestGreen);
    border-radius: 10px;
    color: var(--021314);
    padding: 10px;
    cursor: pointer;
    box-sizing: border-box;
    margin-left: 10px;
}

.header-option-button:hover{
    transition: 0.3s;
    background-color: var(--ForestGreen);
    color: var(--white);
    
}

nav{
    width: 50%;
    display: flex;
    justify-content: space-between;
}
nav a{
    text-decoration: none;
    color: var(--black);
    padding: 10px;
    border-radius: 10px;
}
nav a:hover{
    transition: 0.3s;
    background-color: var(--ForestGreen);
    color: var(--white);
}
.vertical-Separator{
    height: 50%;
    width: 1px;
    background-color: var(--gray);
    margin-right: 20px;
    border-radius: 1px;
    margin-top: 10px;

}

/* body {
    padding: 0;
    margin: 0;
    background-color: negro;
    font-family: 'Inconsolata', monospace;
    font-family: 'Open Sans', sans-serif;
}

header {
    display: flex;
    top: 1rem;
    position: fixed;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    background-color: red;
    box-sizing: border-box;
}

nav a {
    text-decoration: none;
    font-size: 3vh;
    margin-left: 5vh;
}

#logo {
    width: 100px;
    margin-top: 4vh;
}

#bar{
    height: 6vh;
    width: 1px;
    position: absolute;
    margin-left: 90vw;
    background-color: negro;
}

#search {
    margin-right: 5vw;
}

.search {
    width: 30px;
} */