:root{
    --SeafoamGreen: #4a9f8f;
    --Teal: #257d6e;
    --ForestGreen: #005a4c;

    --white: #faffff;
    --gray: #5b6664;
    --black: #021314;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Inconsolata', monospace;  
    font-family: 'Open Sans', sans-serif;
    color: var(--black);
    background-color: var(--white);
}
header{
    background-color: var(--white);
    z-index: 1;
    display: flex;
    height: 5vh;
    position: fixed;
    height: 12%;
    width: 90%;
    top: 0;
    margin: 2% 5%;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px -8px var(--gray);
    justify-content: space-between;
    place-items: center;
    box-sizing: border-box;
}
.BigotesLogo{
    height: 100%;
    border-radius: 50%;
}
.header-options{
    list-style: none;
    display: flex;
}
.header-option-button{
    background-color: var(--white);
    border: none;
    box-shadow: 0px 0px 10px -5px var(--ForestGreen);
    border-radius: 10px;
    color: var(--black);
    padding: 10px;
    cursor: pointer;
    box-sizing: border-box;
    margin-left: 10px;
    width: 45px;
    height: 45px;
}
#selected-button{
    background-color: var(--ForestGreen);
    color: var(--white);
}
#selected-button:hover{
    background-color: var(--white);
    transition: 0.3s;
    color: var(--black);
    
}
.header-option-button:hover{
    transition: 0.3s;
    background-color: var(--ForestGreen);
    color: var(--white);
    
}
.header-option-button:not(:hover){
    transition: 0.3s;
}
/*Aqui el menú desplegable*/
#acount-options ul{
    display: none;
}
.acount-options-display ul{
    display: flex !important;
    list-style: none;
    margin: 2rem 0;
    padding: 0;
    width: 10rem;
    height: 10rem;
    background-color: var(--white);
    border-radius: 10px;
    position: relative;
    right: 5rem;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0px 0px 20px -8px var(--gray);
}
.account-button ul li{
    display: flex;
    padding: 0px 10px;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}
.account-button ul li a{
    display: inline-block;
    padding: 15px;
    color: var(--black);
    text-decoration: none;
    font-size: 15px;
    width: 70%;
    border-radius: 10px;
}
.account-button ul li:hover{
    box-shadow: 0px 0px 10px -5px var(--ForestGreen);
    transition: 0.3s;
}


nav{
    width: 50%;
    display: flex;
    justify-content: space-between;
}
nav a{
    text-decoration: none;
    color: var(--black);
    padding: 10px;
    border-radius: 10px;
}
nav a:hover{
    transition: 0.3s;
    background-color: var(--ForestGreen);
    color: var(--white);
}
nav a:not(:hover){
    transition: 0.3s;
}
.vertical-Separator{
    height: 50%;
    width: 1px;
    background-color: var(--gray);
    margin-right: 20px;
    border-radius: 1px;
    margin-top: 10px;

}
main{
    margin-top: 10%;
    
}
.container{
    width: 95%;
    height: auto;
    border-radius: 10px;
    margin: auto;
    margin-top: 8rem;
    display: flex;
    align-items: center;
    align-content: center;
    box-shadow: 0px 0px 20px -15px var(--gray);
}

.products-container {
    width: 90%;
    height: auto;
    margin: 30px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(15rem,1fr));
}

.product-card{
    width: auto;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 30px -15px var(--gray);
}
.product-card:hover{
    box-shadow: 0px 0px 60px -15px var(--Teal);
    transition: 0.4s;
}
.product-card:not(:hover){
    transition: 0.5s;
}

.product-card .product-image img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0px 0px 20px -15px var(--gray);
}

.product-card .product-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;   
}
.product-info .text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 10px;
}
.product-info .text p{
    margin: 0;
}
.product-info .text p:nth-child(1){
    font-weight: bold;
}
.product-info .price{
    display: flex;
    align-items: center;
    width: 20%;
    pad: 0;
}

/* .gallery-container{
    width: 90%;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 1%;
} */

footer{
    width: 95%;
    margin: auto;
    height: auto;
    border-radius: 10px;
    display: flex;
    background-color: var(--Teal);
    margin-top: 10%;
    justify-content: space-between;
    margin-bottom: 2vh;
}
.footer-form-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2% 5%;
    box-sizing: border-box;
    color: var(--white);
}
.footer-form-container div:nth-child(1){
    display: block;
    box-sizing: border-box;
    padding-bottom: 5vh;
    font-weight: bold;
    
}
.form-container{
    display: flex;
    flex-direction: column;
}
.primary-input{
    border: none;
    width: 100%;
    height: 40px;
    margin: 5px 0px;
    padding: 20px;
    box-sizing: border-box;
    color: var(--ForestGreen);
    border-radius: 10px;
    
}
.paragraph-input{
    height: 150px;
    padding: 10px;
}
.off-focus:focus{
    outline:none;
}
.footer-contact-info{
    display: flex;
    justify-content: space-around;
    place-content: center;
    place-items: center;
}
.footer-contact-info img{
    width: 50%;
    height: 80%;
    border-radius: 20px;
    object-fit: cover;
}
.footer-contact-info ul{
    list-style: none;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.footer-contact-info ul li a img{
    width: 100%;
    height: 60px;
    border-radius: 10px;
}

#modal-background{
    display: none;
}
.modal{
    background-color: var(--white);
    width: 90%;
    height: 80%;
    border-radius: 10px;
    box-shadow: 0px 0px 200px -15px var(--gray);
    padding: 1rem;
    box-sizing: border-box;
}
.modal-display{
    
    display: flex !important;
    height: 100vh;
    width: 100%;
    bottom: 0;
    left: 0;
    position: fixed;
    justify-content: center;
    align-items: end;
    margin-bottom: 1rem;
}
#close-modal-button{
    color: var(--ForestGreen);
    font-weight: bold;
    display: flex;
    float: right;
    width: 40px;
    height: 40px;
    background-color: var(--white);
    box-shadow: 0px 0px 10px -5px var(--ForestGreen);
    justify-items: center;
    place-content: center;
    place-items: center;
    border-radius: 50%;
    
}
.modal-content{
    width: 100%;
    height: 90%;
    margin-top: 4%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    box-sizing: border-box;
}
.product-images{
    grid-column:1;
    display: flex;
    justify-content: space-around;
    height: 85%;
}
.product-images-list{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30%;

}
.product-images-list ul{
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.product-images-list ul li img{
    width: 100px;
    border-radius: 10px;
}
.product-image-main{
    width: 70%;
    
}
.product-image-main img{
    border-radius: 10px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.modal-content .product-info{
    grid-column: 2;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    max-height: 85%;
}
.product-info-banner{
    width: 100%;
    border-radius: 10px;
    background-color: var(--SeafoamGreen);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    
}
.product-remaining{
    color: var(--ForestGreen);
    font-weight: bold;
    margin-top: 5px;
}
.product-colors ul{
    list-style: none;
    display: flex;
    gap: 10px;
    width: 70%;
    flex-wrap: wrap;
}
.product-colors ul li div{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--Teal);
}
.product-selected-color{
    border: 2px solid var(--white);
    box-shadow: 0px 0px 10px 0px var(--ForestGreen);
}
.modal-product-description{
    margin: 20px 0px;
}
.BuyNowButton{
    width: 100%;
    height: 120px;
    border-radius: 10px;
    border: none;
    background-color: var(--Teal);
    color: var(--white);
    font-size: 20px;
}
